<p class="alert" style="color: green"><%= notice %></p>
<div>
  <%= link_to "Back to recipes", recipes_path, class: "btn btn-secondary" %>
</div>

<h1>Recipes</h1>

<br/>

<% if @recipe.present? %>
  <%= render @recipe %>
<% else %>
  <p>No recipe found.</p>
<% end %>
