<div class="card">
  <div class="card-body">
 <h1>Welcome to NomNomDiary!</h1> 
 <br/>

  <%= image_tag('cupcakes.jpg', class: 'cupcake') %>

  <br/>
  <p class="home"> This app was created to help you write all your favorite recipes. 
   It is intended to be your own personal digital diary for your recipes.
   In order for you to write your recipes you will need to 
   <a  href="/users/sign_up">sign up,</a> but don't worry we won't share your secret ingredients.
  </p>

<br/>

   <p class="home"> Enjoy creating and eating! </p>
    
  </div>
</div>



