/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

:root {
  --bs-body-bg: #927fbf;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.banner-background {
  background-image: asset-url("baking.jpg");
  background-size: cover;
  font-family: "KGRedHands";
  color: #363b4e;
}

.navbar {
  background-color: #363b4e;
}

.btn-home {
  background-color: #363b4e;
}

.nav-item {
  color: white;
}

.nav-item:hover {
  color: #c4bbf0;
}

.dropdown-toggle {
  color: white;
}

.dropdown-toggle:hover {
  color: #c4bbf0;
}

.dropdown-menu {
  background-color: #363b4e;
}
.dropdown-item {
  color: #c4bbf0;
}

.dropdown-item:hover {
  background-color: #c4bbf0;
  color: #927fbf;
}

.btn-out {
  background-color: #363b4e;
  color: #c4bbf0;
  border-style: none;
}

.btn-out:hover {
   color: #c4bbf0;
}

.notice {
  color: green;
}

.alert {
  color: rgb(120, 13, 13);
}

.card {
  background-color: #c4bbf0;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cupcake {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home {
  text-align: center;
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
}
