/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

:root {
   --bs-body-bg: #927fbf;
}

.banner-background {
  background-image: asset-url('baking.jpg');
  background-size: cover;
  font-family: 'KGRedHands';
  color: rgb(3, 56, 3);
}

.navbar {
  background-color: #363b4e;
}

.dropdown-toggle{
   color: white;
}

.dropdown-toggle:hover {
   color: #c4bbf0;
}

.dropdown-menu {
  background-color: #363b4e;

}
.dropdown-item{
   color: #c4bbf0;
}

.dropdown-item:hover {
  background-color: #c4bbf0;
  color: #927fbf;
}

.notice{
   color: green;
}

.alert{
   color: red;
}

.card {
   background-color: #c4bbf0;
   width: 60%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

h1{
   text-align: center;
}